<ns-action-bar
title="Today 123"
[showBackButton]="true"
[hasMenu]="true"
></ns-action-bar>
<Page
  xmlns="http://www.nativescript.org/tns.xsd"
  xmlns:maps="nativescript-google-maps-sdk"
>
<GridLayout rows="auto, *, 50" class="page">
  <GridLayout row="0" columns="*, *" rows="*, *">
    <Label col="0" row="0" text="Prędkość: "></Label>
    <Label col="0" row="1" [text]="currentSpeed"></Label>
    <Label col="1" row="0" text="Dystans: "></Label>
    <Label col="1" row="1" [text]="distance"></Label>
  </GridLayout>
  <MapView row="1" *ngIf="startMap"
  #mapView
  [latitude]="latitude"
  [longitude]="longitude"
      [zoom]="zoom"
      [minZoom]="minZoom"
      [maxZoom]="maxZoom"
      [bearing]="bearing"
      [tilt]="tilt"
      i-padding="50,50,50,50"
      [padding]="padding"
      (mapReady)="onMapReady($event)"
    ></MapView>
  <Label [text]="distance"></Label>
  <Button class="btn btn-primary" row="2" text="Start" *ngIf="!runStart" (tap)="buttonStartTap()"></Button>
  <Button class="btn btn-primary" row="2" text="Stop" *ngIf="runStart" (tap)="buttonStopTap()"></Button>
  </GridLayout>
</Page>
